{
  "extends": "airbnb",
  "rules": {
    "new-cap": [2, {
      "capIsNewExceptions": [
        "List", "Map"
      ]
    }],
  },
  "globals": {
    "__DEVELOPMENT__": true,
    "__CLIENT__": true,
    "__SERVER__": true,
    "__DISABLE_SSR__": true,
    "__DEVTOOLS__": true,
    "webpackIsomorphicTools": true
  }
}
